<section class="form-wrapper">
  <form [formGroup]="addNewsForm" (ngSubmit)="addNews()" class="form">
    <mat-form-field appearance="fill" class="form__title">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form__content">
      <mat-label>Content</mat-label>
      <textarea
        matInput
        [mat-autosize]="false"
        rows="6"
        formControlName="content"
      ></textarea>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      class="form__btn"
      [disabled]="addNewsForm.invalid"
    >
      Add News
    </button>
  </form>
</section>

<mat-form-field class="filterField" appearance="standard">
  <mat-label>Filter</mat-label>
  <input
    matInput
    [formControl]="filterControl"
    (keyup)="applyFilter()"
    #input
  />
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let news">{{ news.id }}</td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let news">{{ news.title }}</td>
    </ng-container>

    <!-- Content Column -->
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Content</th>
      <td mat-cell *matCellDef="let news" class="truncate">
        {{ news.content }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let news">
        <button
          (click)="editNews(news.id, news)"
          mat-icon-button
          color="accent"
        >
          <mat-icon>mode_edit</mat-icon>
        </button>
        <button (click)="deleteNews(news.id)" mat-icon-button color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
