<mat-toolbar color="primary">
  <mat-toolbar-row class="nav-bar">
    <span routerLink="/" class="nav-logo">NG Shop</span>

    <ng-template #anonymousUser>
      <section class="nav-menu">
        <a mat-button>Products</a>
        <a mat-button>Cart</a>
      </section>
      <button (click)="login()" mat-button>
        Login
        <mat-icon>login</mat-icon>
      </button>
    </ng-template>

    <ng-container *ngIf="user$ | async as user; else anonymousUser">
      <section class="nav-menu">
        <a mat-button>Products</a>
        <a mat-button>Cart</a>
        <a mat-button>News</a>
      </section>

      <section>
        <button mat-button [matMenuTriggerFor]="menu">
          {{ user.displayName }}
          <img [src]="user.photoURL" class="profileIMG" />
        </button>

        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item disabled>
            <mat-icon>account_circle</mat-icon>
            <span>Account Settings</span>
          </button>
          <button routerLink="/admin" mat-menu-item *ngIf="user.roles?.admin">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Admin Dashboard</span>
          </button>
          <button (click)="logout()" mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </section>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
