.product-card {
  display: flex;
  height: 5rem;
  width: clamp(16rem, 50vw, 30rem);
}

.content-container {
  display: flex;
  width: 100%;
  gap: 1rem;

  &__image {
    object-fit: cover;
    object-position: 50% 50%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &-name {
      font-size: medium;
    }

    &-price {
      font-size: small;
    }

    @media (max-width: 576px) {
      &-name {
        font-size: small;
      }
    }

    @media (max-width: 576px) {
      &-price {
        font-size: x-small;
      }
    }
  }
}

.action {
  align-self: flex-end;
}
