.container {
  margin-top: 2rem;
  margin-left: 2rem;
}

.price {
  width: 10rem;
  border-top: 2px solid black;
  margin: 3rem 0;
  padding-top: 1rem;

  &-text {
    font-size: large;
  }
}

.no-products {
  margin-left: 3rem;
  font-size: x-large;
}
