<ng-container *ngIf="product$ | async as product">
  <section class="container">
    <img [src]="product.photoURL" />
    <span class="name">{{ product.name }}</span>
    <p class="description">{{ product.description }}</p>
    <span class="price">Price: {{ product.price }}$</span>
    <section class="actions">
      <button
        (click)="addProductToCart(product)"
        mat-raised-button
        color="primary"
        [disabled]="product.isInCart"
      >
        Add to cart
      </button>
      <button
        *ngIf="product.isInCart"
        (click)="removeProductFromCart(product)"
        mat-raised-button
        color="warn"
      >
        Remove from cart
      </button>
    </section>
  </section>
</ng-container>
