.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
}

.name {
  font-size: x-large;
}

.description {
  width: 60%;
  font-size: medium;
  font-style: italic;
}

.price {
  font-size: large;
}

.actions {
  display: flex;
  gap: 1rem;
}
