.news-card {
  display: flex;
  flex-direction: column;
  width: clamp(10rem, 13vw, 300px);
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__title {
    font-size: large;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__content {
    font-size: small;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
